    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>P2P Lending Analytics</h1>
        <p>
        Our cloud based service helps the investor of a P2P lending platform get a higher return on investment.</p>
        <p><a class="btn btn-primary btn-large" href="/notes">View sample notes &raquo;</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>What is our product?</h2>
          <p>Our cloud based service works on top of the P2P lending platform. It helps investors get higher returns by decreasing the risk of note defaults.
          We do this by leveraging sophisticated analytic libraries. </p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
       </div>
       <div class="span4">
          <h2>What is p2p lending?</h2>
          <p>Peer to Peer (P2P) lending platforms allow their members to borrow or lend (invest) money.
          Risk is borne by the investors, not by the P2P lending platform.
		  Interest rates to borrowers are lower than the ones from banks, creating a disruptive model</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>        
      </div>

      <hr>

    </div> <!-- /container -->